body {
  font-family: "Be Vietnam Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ant-form {
  margin: 30px auto;
  padding: 35px;
  max-width: 500px;
  width: 100%;
  border: 1px solid rgba(213, 84, 84, 0.3);
  background-color: rgba(201, 172, 213, 0.4);
  border-radius: 5%;
}

.ant-form-item {
  font-size: 20px;
  border-radius: 4%;
}

.ant-form-item-label > label {
  font-size: 20px;
  color: rgb(129, 129, 192);
}

.ant-btn-primary {
  display: block;
  margin: auto;
  background-color: rgb(213, 84, 84);
  border: rgba(201, 172, 213, 0.4);
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background-color: rgb(176, 114, 202);
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 4px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 3px;
  height: 43px;
  background-color: var(--placeholder-text-color);
}
